[submodule "submodule/axi"]
	path = submodule/axi
	url = https://github.com/pulp-platform/axi.git
[submodule "submodule/SoC"]
	path = submodule/SoC
	url = https://github.com/squared-studio/SoC.git
[submodule "submodule/common_cells"]
	path = submodule/common_cells
	url = https://github.com/pulp-platform/common_cells.git
[submodule "submodule/common"]
	path = submodule/common
	url = https://github.com/squared-studio/common.git
